# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
env/

# VS Code
.vscode/

# Flask
instance/

# Model files
encodings.pkl

# Dataset
backend/dataset/*
!backend/dataset/README.md

# Attendance
backend/attendance/*.csv

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db
